<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <!-- 뒤로가기 버튼 -->
        <button type="button" onclick="goBack()">뒤로가기</button>
        <br>
        <table border='5'>
            <thead>
            <tr>
                <b>
                    <th>number</th>
                    <th>제목</th>
                    <th>완료 여부</th>
                </b>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todoList : ${tdLists}">
                <td th:text="${todoList.id}"></td>
                <td th:text="${todoList.title}"></td>
                <td th:text="${todoList.completed}"></td>
                <td>
                    <form action="/todoList/change" method="post">
                        <input type="hidden" name="id" th:value="${todoList.id}"/>
                        <button type="submit" name="action" value="change">변경</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
